<h2>Checkbox</h2>

<form class="js-submit" action="/forms" method="post">
  <p><input name="first_checkbox" value= "box" type="checkbox"/> Check me </p>
  <button type="submit">Submit</button>
</form>

<script type="text/javascript">
  $(".js-submit").on("submit", function(event){
    event.preventDefault();
  });
</script>

name and value
